*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    display: flex;
}
.sideNav{
    height:100vh;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(227, 48, 95);
    overflow-y: auto;
    overflow-x: hidden;
    max-width: 250px;
    min-width: 150px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
}
.sideNav nav{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: auto;
}
.items{
    background-color: aqua;
    text-align: center;
    text-decoration: none;
}
.content{
    height: 100vh;
    padding: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0px;
    background-color: aquamarine;
    overflow: auto;
}
.cards-section{    
display: flex;
flex-wrap: wrap;
flex-direction: row;
gap: 12px;
justify-content: center;
}
.cards{
    background-color: darkgrey;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
    height: 100px;
    /*when i set the width in percentage(%) value it do not wrap*/
}
