*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: 250px 30% 1fr;
    grid-template-rows: 80px 300px 1fr 1fr 1fr 60px;
    height: 100vh;
}
header{
    background-color: black;
    grid-row: 1/2;
    grid-column: 1/4;
}
.header-img{
    background-color: blue;
    grid-row: 2/3;
    grid-column: 1/4;
}
nav{
    background-color: red;
    grid-row: 3/6;
    grid-column: 1/2;
}
main{
    background-color: rgb(31, 35, 103);
    grid-row: 3/4;
    grid-column: 2/4;
}
.banner{
    background-color: yellow;
    grid-row: 4/5;
    grid-column: 2/4;
}
.adds{
    background-color: lightgreen;
    grid-row: 5/6;
    grid-column: 2/3;
}
.footer-img{
    background-color: lightskyblue;
    grid-row: 5/6;
    grid-column: 3/4;
}
footer{
    background-color: rgb(91, 156, 236);
    grid-row: 6/7;
    grid-column: 1/4;
}