@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --white: #f0f0f0;
  --light-blue: #3a6cf4;
  --dark-blue: #050530;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  position: sticky;
  top: 0;
  align-items: center;
  padding: 1.2rem;
}
.header-content {
  display: flex;
  max-width: 1000px;
  min-width: 600px;
  justify-content: space-between;
  align-items: center;
}
.logo {
  text-decoration: none;
  color: var(--dark-blue);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  flex: 1 50%;
}
span {
  color: var(--light-blue);
}
.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: var(--light-blue);
  font-size: 1.2rem;
  font-weight: 500;
  margin: auto 12px;
}
a {
  text-decoration: none;
}
.navigation a:visited,
a:active {
  color: inherit;
}
.navigation a:hover {
  transition-duration: 0.25s;
  transform: scale(1.2);
  background-color: var(--light-blue);
  color: white;
  border-radius: 5px;
}
main {
  padding: 1rem;
}

.project-card-img img {
  width: 600px;
}
